body {
    height: 100vh;
    background-image: linear-gradient(rgb(32, 32, 32), black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(218, 214, 214);
    font-weight: 600;

}

h1 {
    margin: 0px;
    color: #00b341;
    font-size: 170%;
}


#box {
    background-color: rgb(63, 63, 63);
    width: 330px;
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-bottom: 10px;

}

#output {
    font-weight: 900;
    font-size: 150%;
    color: rgb(172, 167, 167);

    display: flex;
    justify-content: space-between;

    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 20px solid rgb(20, 20, 20);
}

p {
    margin: 8px;
}

.icon-tabler-copy {
    width: 10%;
}

.icon-tabler-copy:hover {
    cursor: pointer;
}

#chl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 100%;
    padding-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 97%;
    height: 6px;

    background: #181818;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slidecontainer {
    padding-left: 9px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;

}

.cb {
    padding-left: 8px;
    padding-bottom: 5px;
}

input[type="checkbox"] {
    margin-bottom: 8px;
}

input:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.strength {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background-color: rgb(36, 36, 35);
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.s-bars {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.b1 {
    width: 10px;
    height: 27px;
    background-color: rgba(98, 98, 99, 0);
    border: 1px solid;
}

.b2 {
    width: 10px;
    height: 27px;
    background-color: rgba(98, 98, 99, 0);
    border: 1px solid;
}

.b3 {
    width: 10px;
    height: 27px;
    background-color: rgba(98, 98, 99, 0);
    border: 1px solid;
}

.b4 {
    width: 10px;
    height: 27px;
    background-color: rgba(98, 98, 99, 0);
    border: 1px solid;
}

#gen {
    background-color: #00b341;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: #181818;
}

#gen:hover {
    cursor: pointer;
}